/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/
html {
    font-size: 100%;
		box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #FFF;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	margin: 0 auto;
	background: #FFF;
	padding: 40px;
}

footer {
	color: white;
}
/* Write all remaining styles here */
